.practice-lap {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #6ec5ff;
}

.track {
    position: absolute;
    inset: 0;
}

.track__sky {
    height: 55%;
    background: linear-gradient(
        to bottom,
        #6ec5ff,
        #bfe8ff
    );
}

.track__grandstands {
    height: 15%;
    background: #666;
}

.track__dirt {
    height: 30%;
    background: #8b5a2b;
}

.practice-track {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.countdown {

    position: absolute;

    top: 40%;

    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 150px;

    font-weight: 900;

    color: white;

    text-shadow:
        0 6px 20px rgba(0,0,0,.45);

    z-index: 100;
}

.practice-lap-sign--hide {
    animation: hideSign 0.6s ease forwards;
}

@keyframes hideSign {
    to {
        opacity: 0;
        transform: translateY(-120px);
    }
}

.practice-truck-runner {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 22;
    transform: translate(43vw, 88vh);
    pointer-events: none;
}

.practice-truck-runner--driving {
    animation: practiceLapPath 9s linear forwards;
}

.practice-truck {
    width: clamp(135px, 13vw, 240px);
    transform: translate(-50%, -100%) scale(1);
    transform-origin: center bottom;
    filter: drop-shadow(0 0.7rem 0.75rem rgba(0, 0, 0, 0.35));
}

.practice-truck-runner--driving .practice-truck {
    animation: practiceLapDepth 9s ease-in-out forwards;
}

@keyframes practiceLapPath {
  0% {
    transform: translate(43vw, 88vh);
    z-index: 22;
  }

  10% {
    transform: translate(66vw, 84vh);
    z-index: 22;
  }

  20% {
    transform: translate(88vw, 74vh);
    z-index: 22;
  }

  32% {
    transform: translate(86vw, 61vh);
    z-index: 18;
  }

  45% {
    transform: translate(62vw, 52vh);
    z-index: 18;
  }

  58% {
    transform: translate(34vw, 52vh);
    z-index: 18;
  }

  72% {
    transform: translate(15vw, 61vh);
    z-index: 18;
  }

  84% {
    transform: translate(12vw, 73vh);
    z-index: 22;
  }

  94% {
    transform: translate(28vw, 82vh);
    z-index: 22;
  }

  100% {
    transform: translate(43vw, 88vh);
    z-index: 22;
  }
}

@keyframes practiceLapDepth {
  0%,
  100% {
    transform: translate(-50%, -100%) scale(1);
  }

  20%,
  84% {
    transform: translate(-50%, -100%) scale(0.88);
  }

  45%,
  58% {
    transform: translate(-50%, -100%) scale(0.62);
  }

  94% {
    transform: translate(-50%, -100%) scale(0.94);
  }
}
